@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url('./Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    src: url('./Roboto-Italic.ttf');
}

@font-face {
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    src: url('./Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto;
    font-weight: bold;
    font-style: italic;
    src: url('./Roboto-BoldItalic.ttf');
}